
@{
	ViewData["Title"] = "Dodaj rolę aplikacji";
}

<h2>Dodaj rolę aplikacji</h2>

<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Add">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label class="control-label">Nazwa roli</label>
				<input name="RoleName" class="form-control" />
			</div>
			<div class="form-group">
				<input type="submit" value="Dodaj" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Anuluj</a>
</div>

